.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 100vh;
}

.server {
  margin: 10px;
  border: solid 1px;
  border-radius: 6px;
  padding: 10px;
}

.server:not(:first-child) {
  margin-top: 0;
}

.server header a {
  color: white;
}

header {
  margin-bottom: 10px;
  white-space: nowrap;
}

header h2,
header p {
  margin: 0;
}

.noPlayers {
  margin-bottom: 0;
}
